circle:hover{
  opacity: 1;
  color:green;
  stroke-width: 5px;
  border: 50px solid black;
}
.chart{
  background-color: #f6f6ef;
}

.chart rect{
  stroke: white;
  fill: steelblue;
}

svg{
  margin-left: 20px
}

.domain{
  stroke-width:.2em;
  opacity: .2;
}


body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.csv
{
  display: none;
}

.chart rect {
  stroke: white;
  fill: steelblue;
  
}

.chart rect:hover {
  stroke: black;
}

.container {
  padding: 5px;
  float: left;
  border: 1px;
  border-color: #736F6E;
}

#side {
  padding: 5px;
  float: left;
  width: 300px;
}