<!DOCTYPE html>
<html>
  <head>
    <title>A Snapshot of Hacker News</title>
  </head>

  <body>
	  <div id="main">	
	  	<div id="stream" class="container" data-intro='The story of the Boston Marathon Tragedy is colored in blue. You can see that the story is immensely popular on the first Monday, since that is when the two bombs went off killing two people and injuring many more. There was another large spike in the story on Thursday and Friday when the two suspects, the Tsarnaev brothers, shot and killed a policeman and were pursued by police until Friday evening when the only living suspect was captured.' data-step='2'>
	  	</div>
      <div class="middle-area" data-intro='Welcome to our Hacker News Visualization! We have broken up the news stories over the past two weeks into distinct themes that you can interact with. You can select the different themes by selecting these buttons or by clicking on the stream graph above. In the stream graph you can see the relative popularity of these themes over time. If you click on a specific theme in the graph, the other graphs will update their displays based on the selected theme. You can also create a custom theme with personalized keywords by selecting the &quot;Custom&quot; button.' data-step='1'>
        <h4 class='themes_heading'></h4>
        <button class="btn color1 selected premade" data-topic='0'>Boston Bombings
        <button class="btn color2 premade" data-topic='1'>Google Glass
        <button class="btn color3 premade" data-topic='2'>Cispa
        <button class="btn color4 premade" data-topic='3'>Startups
        <button class="btn color5 premade" data-topic='4'>Mobile
        <button class="btn color6 premade" data-topic='5'>Bitcoin
        <button class="btn color7 premade" data-topic='6'>Back-End Development
        <button class="btn primary custom">Custom
      </div>
	  	<div id="bar" class="container" data-intro='This bar graph displays the keywords relevant to the story of the Tsarnaevs. It does not come as a surprise that &quot;Boston&quot; was the most popular word for this theme. If you hover over a keyword, the scatterplot to the right will update to highlight the articles that contain that keyword.' data-step='3' data-position='top'>
	  	</div>
	  	<div id="scatter" class="container" data-intro='This scatter plot displays all of the articles that relate to the theme as they occur over time in terms of their number of upvotes. For the Boston story, you can see that the most popular article was one of the initial articles reporting the bombings, which spread like wildfire when the story was first released. You can select a range of articles with your mouse to update the bar graph so that it displays only those keywords in the selected articles.' data-step='4' data-position='top'>
	  	</div>
	  </div> 
  	<div id="proj-description"><h4>"The Stories of Hacker News" by Peregrine Badger and Brian Connolly</h4>
  	</div> 
  	<div class='video-link'><h4>Check out the video <a href="video.html">here</a></h4></div>
	

    <div class="modal fade" id='video_modal' style='display:none'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>The Stories of Hacker News</h2>
      </div>
      <div class="modal-body">
        <div class='photo-text-div'>
          <img src='/assets/time_cover.jpg' class='time_photo'>

          Two weeks ago, two bombs exploded during the Boston Marathon. This project was inspired by the large number of breaking headlines and compelling stories relating to the attack and the following chase of the two Tsarnaev brothers through Boston, delivered through Hacker News (HN). 
          </p>
          Once we obtained articles from HN and built some of the tools to analyze them, we expanded the project in scope to encompass futher current events, allow users to search similar articles and analyze common themes on HN.
          </p>
          <div class='loading'>
            Loading...
          </div>
        </div>
      </div>
    </div>  

    <div class="modal fade" id='custom_theme_modal' style='display:none'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>Make Your Own Theme!</h2>
      </div>
      <div class="modal-body">      
        <div class="custom_theme">
          <h3>Make Your Own Theme:</h3>
          <input class="custom_keyword" placeholder="Your keyword">
          <button class="submit_cus_key">Add</button>
          <div class="chosen_keywords">
          </div>
          <button class="draw_cus_theme">Implement Theme</button>
        </div>
      </div>
    </div>  

    <div class="tooltip" id="scatter_tt">
      <div class="tt_title">
      </div>
      <div class="tt_points">
      </div>
    </div>

    <div class="tooltip" id="stream_tt">
    	<div class="tt_title">
    	</div>
    </div>

		<script>
			console.log('hit')
			$('#video_modal').modal('show');
		</script>


	</body>
</html>