<!DOCTYPE html>
<html>
  <head>
    <title>A Snapshot of Hacker News</title>
  </head>

  <body>
	  <div id="main">	
	  	<div id="stream" class="container">
	  	</div>
      <div class="middle-area">
        <h4 class='themes_heading'></h4>
        <button class="btn color1 selected premade" data-topic='0'>Boston Bombings
        <button class="btn color2 premade" data-topic='1'>Google Glass
        <button class="btn color3 premade" data-topic='2'>Cispa
        <button class="btn color4 premade" data-topic='3'>Startups
        <button class="btn color5 premade" data-topic='4'>Mobile
        <button class="btn color6 premade" data-topic='5'>Bitcoin
        <button class="btn color7 premade" data-topic='6'>Back-End Development
        <button class="btn primary custom">Custom
      </div>
	  	<div id="bar" class="container">
	  	</div>
	  	<div id="scatter" class="container">
	  	</div>
	  </div> 
  	 
  	<div class='video-link'><h4>Check out the video <a href="video.html">here</a></h4></div>
	

    <div class="modal fade" id='video_modal' style='display:none'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>The data is loading...</h2>
      </div>
      <div class="modal-body">
      	For this project, we imported a large number of Hacker News articles and ran some natural language processing algorithms on them. This may take a moment to load, depending on your computer.
      </div>
    </div>  

    <div class="modal fade" id='custom_theme_modal' style='display:none'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>Make Your Own Theme!</h2>
      </div>
      <div class="modal-body">
        Click this shit
      
        <div class="custom_theme">
          <h3>Make Your Own Theme:</h3>
          <input class="custom_keyword" placeholder="Your keyword">
          <button class="submit_cus_key">Add</button>
          <div class="chosen_keywords">
          </div>
          <button class="draw_cus_theme">Implement Theme</button>
        </div>
      </div>
    </div>  

    <div class="tooltip" id="scatter_tt">
      <div class="tt_title">
      </div>
      <div class="tt_points">
      </div>
    </div>





		<script>
			console.log('hit')
			$('#video_modal').modal('show');
		</script>


	</body>
</html>