<!DOCTYPE html>
<html>
  <head>
    <title>A Snapshot of Hacker News</title>
  </head>

  <body>
		<h1><center>A Snapshot of Hacker News</center></h1>
	  <div id="main">	
	  	<div id="stream" class="container" data-intro='Welcome to our Hacker News Visualization! We have broken up the news stories over the past two weeks into distinct themes that you can interact with. In this stream graph you can see the relative popularity of these themes over time. If you click on a specific theme in the graph, the other graphs will update to only display based off of the selected theme.' data-step='1'>
	  		<div data-intro='Boston description' data-step='4'></div>
	  	</div>
	  	<div id="bar" class="container" data-intro='Here is a simple bar graph displaying the keywords in the selected theme in terms of how frequently the keyword appeared in articles. If you hover over a keyword, the scatterplot will update to highlight the articles that contain that keyword.' data-step='2'>
	  	</div>
	  	<div id="scatter" class="container" data-intro='This scatter plot displays all of the articles that relate to the theme as they occur over time and in terms of their number of upvotes. You can select a range of articles with your mouse to update the bar graph so that it displays only those keywords in the selected articles.' data-step='3'>
	  	</div>
	  </div> 
  	<div class="keyword_explanation">
  		This bar graph shows the frequency of the most common keywords across articles. These are simply the most common words, aggregated from all articles, with common <a href="http://en.wikipedia.org/wiki/Stop_word">'stop words'</a> filtered out.
  	</div>   
  	<div class='video-link'><h4>Check out the video <a href="video.html">here</a></h4></div>
	

    <div class="modal fade" id='video_modal' style='display:none'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>The data is loading...</h2>
      </div>
      <div class="modal-body">
      	For this project, we imported a large number of Hacker News articles and ran some natural language processing algorithms on them. This may take a moment to load, depending on your computer.
      </div>
    </div>  

    <div class="tooltip" id="scatter_tt">
      <div class="tt_title">
      </div>
      <div class="tt_points">
      </div>
    </div>

		<script>
			console.log('hit')
			$('#video_modal').modal('show');
		</script>


	</body>
</html>