<!DOCTYPE html>
<html>
  <head>
    <title>A Snapshot of Hacker News</title>
  </head>

  <body>
	  <div id="main">	
	  	<div id="stream" class="container" data-intro='Clicking on this streamgraph will change the graphs below, filtering by topic.' data-step='3'>
	  	</div>
      <div class="middle-area" data-intro='Try clicking these topics to see how they are trending and to filter articles below.' data-step='4'>
        <h4 class='themes_heading'></h4>
        <button class="btn color1 selected premade bmbombs" data-topic='0'>Boston Bombings
        <button class="btn color2 premade google_glass" data-topic='1'>Google Glass
        <button class="btn color3 premade cispa" data-topic='2'>Cispa
        <button class="btn color4 premade startups" data-topic='3'>Startups
        <button class="btn color5 premade mobile" data-topic='4'>Mobile
        <button class="btn color6 premade bitcoin" data-topic='5'>Bitcoin
        <button class="btn color7 premade servers" data-topic='6'>Back-End Development
        <button class="btn primary custom">Custom
      </div>
	  	<div id="bar" class="container" data-intro='Try clicking one of these bars to see articles on the right that were about that topic.' data-step='2' data-position='top'>
	  	</div>
	  	<div id="scatter" class="container" data-intro='This scatter plot displays a point for each article from the dates below. Selecting a portion of the articles will list the most common keywords on the graph to the left.' data-step='1' data-position='top'>
	  	</div>
	  </div> 
  	
    <div class='reset-buttons'>
      <div class='reset bar'>
        <button class='btn btn-inverse'>Reset
      </div>
      <div class='reset scatter'>
        <button class='btn btn-inverse'>Reset
      </div>
      </p>
    	<div class='video-link'><h4>Check out the video <a href="video.html">here</a></h4></div>
        <div id="proj-description"><h4>"The Stories of Hacker News" by Peregrine Badger and Brian Connolly</h4>
      </div> 
    </div>

    <div class="modal fade" id='video_modal' style='display:none'>
      <div class="modal-header">
        <h2>The Stories of Hacker News</h2>
      </div>
      <div class="modal-body">
        <div class='photo-text-div'>
          <img src='/assets/time_cover.jpg' class='time_photo'>

          On April 15, 2013 two bombs exploded during the Boston Marathon. This project chronicles the large number of breaking headlines and compelling stories relating to the attack and the following chase of the two Tsarnaev brothers through Boston, delivered via Hacker News (HN). 
          </p>
          Once we obtained articles from HN and built some of the tools to analyze them, we expanded the project in scope to encompass futher current events, allow users to search similar articles, and analyze common themes on HN.
          </p>
          <div class='loading'>
            Loading...
          </div>
        </div>
      </div>
    </div>  

    <div class="modal fade" id='custom_theme_modal' style='display:none'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>Make Your Own Theme!</h2>
      </div>
      <div class="modal-body">      
        <div class="custom_theme">
          <h3>Make Your Own Theme:</h3>
          <input class="custom_keyword" placeholder="Your keyword">
          <button class="submit_cus_key">Add</button>
          <div class="chosen_keywords">
          </div>
          <button class="draw_cus_theme">Implement Theme</button>
        </div>
      </div>
    </div>  

    <div class="tooltip" id="scatter_tt">
      <div class="tt_title">
      </div>
      <div class="tt_points">
      </div>
    </div>

    <div class="tooltip" id="stream_tt">
    	<div class="tt_title">
    	</div>
    </div>

		<script>
			$('#video_modal').modal('show');
		</script>


	</body>
</html>