<!DOCTYPE html>
<html>
  <head>
    <title>A Snapshot of Hacker News</title>
  </head>

  <body>
		<h1><center>A Snapshot of Hacker News</center></h1>
	  <div id="main">	
	  	<div id="stream" class="container">
	  	</div>
	  	<div id="bar" class="container">
	  	</div>
	  	<div id="scatter" class="container">
	  	</div>
	  </div> 
  	<div class="keyword_explanation">
  		This bar graph shows the frequency of the most common keywords across articles. These are simply the most common words, aggregated from all articles, with common <a href="http://en.wikipedia.org/wiki/Stop_word">'stop words'</a> filtered out.
  	</div>   
  	<div class='video-link'><h4>Check out the video <a href="video.html">here</a></h4></div>
	

    <div class="modal fade" id='video_modal' style='display:none'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>The data is loading...</h2>
      </div>
      <div class="modal-body">
      	For this project, we imported a large number of Hacker News articles and ran some natural language processing algorithms on them. This may take a moment to load, depending on your computer.
      </div>
    </div>  

    <div class="tooltip" id="scatter_tt">
      <div class="tt_title">
      </div>
      <div class="tt_points">
      </div>
    </div>

    <div class="custom_theme">
      <h3>Make Your Own Theme:</h3>
      <input class="custom_keyword" placeholder="Your keyword">
      <button class="submit_cus_key">Add</button>
      <div class="chosen_keywords">
      </div>
      <button class="draw_cus_theme">Implement Theme</button>
    </div>



		<script>
			console.log('hit')
			$('#video_modal').modal('show');
		</script>


	</body>
</html>