.domain{
  stroke-width:.2em;
  opacity: .2;
}

body {
  font: 10px sans-serif;
  zoom: 100%; 
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.csv
{
  display: none;
}
.chart rect {
  stroke: white;
  fill: steelblue; 
}
.chart rect:hover {
  stroke: black;
}
#side,.back_but{
  padding: 5px;
  float: right;
  margin-right: 140px;
  width: 300px;
  border: 5px solid #999;
  border-radius: 10px;
  width: 75px;
}
#main{
  height: auto;
  width: 1248px;
  margin-left: auto;
  margin-right: auto;
}
#bar{
  border: 2px solid;
  height: 275px;
  width: 500px;
  margin: 5px;
  margin-bottom: 10px;
  float: left;
}

#scatter{
  border: 2px solid;
  height: 275px;
  width: 700px;
  margin: 5px;
  margin-bottom: 10px;
  float: left;
}

#stream{
  clear: both;
  display: block;
  border: 2px solid;
  width: 1225px;
  height: 375px;
  margin: 5px;
}
.container{
  background-color: #eeeeee;
  border-color: #ccc;
  border-radius: 5px;
  padding: 5px;
}
.modal-header,.modal-footer{
  text-align: center;
}
.video-link{
  margin-right: 80px;
  float: right;
}
.middle-area{
  width: 1225px;
  height: 35px;
}
.middle-area button{
  font-family: Verdana;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 1.2em;
  margin: 4px 6px 4px 23px;
}
.themes_heading{
  float:left;
  margin:0px;
}
.color1{
  background-image: none;
  background-color: #3182bd;
}
.color2{
  background-image: none;
  background-color: #6baed6;
}
.color3{
  background-image: none;
  background-color: #9ecae1;
}
.color4{
  background-image: none;
  background-color: #c6dbef;
}
.color5{
  background-image: none;
  background-color: #e6550d;
}
.color6{
  background-image: none; 
  background-color: #fd8d3c;
}
.color7{
  background-image: none; 
  background-color: #fdae6b;
}
.middle-area button.selected{
  opacity: 1;
}
.middle-area button{
  opacity: .5
}
.middle-area button:hover{
  opacity: 1;
  border: 4px solid black;
}

