.domain{
  stroke-width:.2em;
  opacity: .2;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.csv
{
  display: none;
}
.chart rect {
  stroke: white;
  fill: steelblue; 
}
.chart rect:hover {
  stroke: black;
}
#side,.back_but{
  padding: 5px;
  float: right;
  margin-right: 140px;
  width: 300px;
  border: 5px solid #999;
  border-radius: 10px;
  width: 75px;
}
#main{
  height: auto;
  width: 1248px;
  margin-left: auto;
  margin-right: auto;
}
#bar{
  border: 2px solid;
  height: 275px;
  width: 500px;
  margin: 5px;
  margin-bottom: 10px;
  float: left;
}

#scatter{
  border: 2px solid;
  height: 275px;
  width: 700px;
  margin: 5px;
  margin-bottom: 10px;
  float: left;
}

#stream{
  clear: both;
  display: block;
  border: 2px solid;
  width: 1225px;
  height: 475px;
  margin: 5px;
}
.container{
  background-color: #eeeeee;
  border-color: #ccc;
  border-radius: 5px;
  padding: 5px;
}
.modal-header,.modal-footer{
  text-align: center;
}
.video-link{
  margin-right: 80px;
  float: right;
}