svg{
  margin-left: 120px;
}


circle:hover{
  opacity: 1;
  color:green;
  stroke-width: 5px;
  border: 50px solid black;
}
.chart{
  background-color: #f6f6ef;
  margin-left: 60px;
}
.chart rect:hover {
  stroke: black;
}

.tooltip{
  position: absolute;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

.tooltip .tt_title,.tt_points{
  margin:4px;
  max-width: 215px;
  font-size: 12px;
}
.tooltip .tt_title{
  font-weight: bold;
  font-size: 10px;
}